@model IEnumerable<MonedaCubana.Models.Programa_Entrenamiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSolution.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="Plan_Entrenamiento">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plan_Curricular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Plan_Curricular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Periodo }) |
            @Html.ActionLink("Details", "Details", new { id=item.Periodo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Periodo })
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/res/jsPlanEntrenamiento.js"></script>

}
