@model IEnumerable<MonedaCubana.Models.Profesor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSolution.cshtml";
}

<h2>Profesor-Asignatura</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", "Controller", new { @class = "btn btn-info", style="margin-bottom:1em"})
</p>
<table class="display tableDesign" id="profesorasignatura">
    <thead>
        <tr>
            <th>
                Nombre Profesor
            </th>
            <th>
                Categoria Docente
            </th>
            <th>
                Categoria Científica
            </th>
            <th>
                Asociar Asociar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria_Cientifica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria_Cientifica)
            </td>
            <td>
              <input type="checkbox" class="asociar" />
            </td>
        </tr>
        }
    </tbody>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/res/jsTrabajador.js"></script>
    @*<script src="~/Scripts/dataTables.js"></script>*@
   @* <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />*@
}
