@model MonedaCubana.Models.Trabajador

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSolution.cshtml";
}


@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="form-horizontal">
    <h2>Editar Trabajador</h2>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2"> CI </label>
        <div class="col-md-3">
            <input type="text" id="Persona_CI" class="form-control" value="@ViewBag.Trabajador.CI" disabled="disabled" />

        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Nombre </label>
        <div class="col-md-3">
            <input type="text" id="Persona_Nombre" class="form-control" value="@ViewBag.Trabajador.Persona.Nombre" disabled="disabled" />

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> Sexo </label>
        <div class="col-md-3">
            @*<input type="text" id="Persona_Sexo" class="form-control" value="@ViewBag.Trabajador.Persona.Sexo" disabled="disabled" />*@
            <select id="Persona_Sexo" class="form-control">
                <option value="M">M</option>
                <option value="F">F</option>

            </select>

        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Nivel Escolar </label>
        <div class="col-md-3">

            <select id="Persona_Nivel_Escolar" class="form-control">
                <option value="Medio-Superior">Medio-Superior</option>
                <option value="Medio">Medio</option>
                <option value="Superior">Superior</option>
            </select>

        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-md-2"> Fecha Nacimiento </label>

        <div class="col-md-3">
            <input type="text" id="Persona_Fecha_Nacimiento" class="form-control" value="@ViewBag.Trabajador.Persona.Fecha_Nacimiento" disabled="disabled" />

        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Correo </label>
        <div class="col-md-3">
            <input type="text" id="Persona_Correo" class="form-control" value="@ViewBag.Trabajador.Persona.Correo" onchange="ValidarCampoTextoFormatoCorreo(this)"/>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> Teléfono </label>
        <div class="col-md-3">
            <input type="text" id="Persona_Telefono" class="form-control" value="@ViewBag.Trabajador.Persona.Telefono" onchange="Rutina_ValidaNumero_Entero(this)"/>

        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Lugar de Nacimiento </label>
        <div class="col-md-3">
            <input type="text" id="Persona_Lugar_Nacimiento" class="form-control" value="@ViewBag.Trabajador.Persona.Lugar_Nacimiento" disabled="disabled" />

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2"> Nacionalidad </label>
        <div class="col-md-3 ">
            <input type="text" id="Persona_Nacionalidad" class="form-control" value="@ViewBag.Trabajador.Persona.Nacionalidad" onchange="Rutina_ValidarTexto(this)"/>

        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Militancia </label>
        <div class="col-md-3">
            @*<input type="text" id="Persona_Militancia" class="form-control" value="@ViewBag.Trabajador.Persona.Militancia" />*@
            <select id="Persona_Militancia" class="form-control">
                <option value="UJC">UJC</option>
                <option value="PCC">PCC</option>
                <option value="No">No</option>
            </select>

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2"> Salario </label>

        <div class="col-md-3">
            <input type="text" id="Persona_Salario" class="form-control" value="@ViewBag.Trabajador.Salario" onchange="Rutina_ValidaNumero_Entero(this)"/>

        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Ocupación </label>

        <div class="col-md-3">
            <input type="text" id="Persona_Ocupacion" class="form-control" value="@ViewBag.Trabajador.Ocupacion" onchange="Rutina_ValidarTexto(this)"/>

        </div>
    </div>

    <div class="form-group">

        <label class="control-label col-md-2 "> Raza </label>
        <div class="col-md-3">
            <select id="Persona_Raza" class="form-control">
                <option value="B">B</option>
                <option value="M">M</option>
                <option value="N">N</option>
            </select>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> Dirección </label>

        <div class="col-md-10">
            <textarea type="text" id="Persona_Direccion" class="form-control" rows="3" value="@ViewBag.Trabajador.Persona.Direccion"></textarea>

        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("<<Atrás", "Index")
    </div>
    <div class="col-md-6">
        <input type="button" id="btnEditar" class="right btn btn-info" value="Editar" />
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script src="~/res/jsTrabajador.js"></script>
    <script>
        $(document).ready(function () {
            //-------------Nivel Escolar------------------------------------
            var nivel_escolar = "@ViewBag.Trabajador.Persona.Nivel_Escolar";
            $("#Persona_Nivel_Escolar").val(nivel_escolar);

            var sexo = "@ViewBag.Trabajador.Persona.Sexo";
            $("#Persona_Sexo").val(sexo)

            var raza = "@ViewBag.Trabajador.Persona.Raza";
            $("#Persona_Raza").val(raza);

            var militancia = "@ViewBag.Trabajador.Persona.Militancia";
            $("#Persona_Militancia").val(militancia);
        })
    </script>
}
