@model IEnumerable<MonedaCubana.Models.Preparatoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSolution.cshtml";
}

<h2>Listado de Cursos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", "Controller", new { @class = "btn btn-info", style = "margin-bottom:1em" })
</p>
<table class="display tableDesign" id="Cursos">
    <thead>
        <tr>
            <th>Sel.</th>
            <th>Eliminar</th>
            <th>Taller</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="text-align:center">
                @Html.ActionLink(" ", "Edit", new { id = item.ID_Preparatoria }, new { @class = "fa fa-edit", style = "margin-bottom:1em" })
            </td>
            <td style="text-align:center">
       
                <i class="fa fa-close" data-tipo="borrar" data-ci=@item.ID_Preparatoria></i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Taller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Fin)
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   @* <script src="~/res/jsProfesor.js"></script>*@

}