@model MonedaCubana.Models.Alumno

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSolution.cshtml";
}


@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="form-horizontal">
    <h2>Crear Alumnos</h2>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2"> CI </label> @*@Html.LabelFor(model => model.Persona.CI, "CI", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Persona_CI" class="form-control" />
            @*@Html.EditorFor(model => model.Persona.CI, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Persona.CI, "", new { @class = "text-danger" })*@
        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Nombre </label>@*@Html.LabelFor(model => model.Persona.Nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Persona_Nombre" class="form-control" />
            @*@Html.EditorFor(model => model.Persona.Nombre, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Persona.Nombre, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> Sexo </label>@*@Html.LabelFor(model => model.Persona.Sexo, "Sexo", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Persona_Sexo" class="form-control" />
            @*@Html.EditorFor(model => model.Persona.Sexo, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Persona.Sexo, "", new { @class = "text-danger" })*@
        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Nivel Escolar </label>@*@Html.LabelFor(model => model.Persona.Nivel_Escolar, "Nivel Escolar", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Persona_Nivel_Escolar" class="form-control" />
            @*@Html.EditorFor(model => model.Persona.Nivel_Escolar, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Persona.Nivel_Escolar, "", new { @class = "text-danger" })*@
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-md-2"> Fecha Nacimiento </label>
        @*@Html.LabelFor(model => model.Persona.Fecha_Nacimiento, "Fecha Nacimiento", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Persona_Fecha_Nacimiento" class="form-control" />
            @*@Html.EditorFor(model => model.Persona.Fecha_Nacimiento, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Persona.Fecha_Nacimiento, "", new { @class = "text-danger" })*@
        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Correo </label>@*@Html.LabelFor(model => model.Persona.Correo, "Correo", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Persona_Correo" class="form-control" />
            @*@Html.EditorFor(model => model.Persona.Correo, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Persona.Correo, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> Teléfono </label>@*@Html.LabelFor(model => model.Persona.Telefono, "Telefono", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Persona_Telefono" class="form-control" />
            @*@Html.EditorFor(model => model.Persona.Telefono, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Persona.Telefono, "", new { @class = "text-danger" })*@
        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Lugar de Nacimiento </label>@*@Html.LabelFor(model => model.Persona.Lugar_Nacimiento, "Lugar Nacimiento", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Persona_Lugar_Nacimiento" class="form-control" />
            @*@Html.EditorFor(model => model.Persona.Lugar_Nacimiento, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Persona.Lugar_Nacimiento, "", new { @class = "text-danger" })*@
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2"> Nacionalidad </label>@*@Html.LabelFor(model => model.Persona.Nacionalidad, "Nacionalidad", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3 ">
            <input type="text" id="Persona_Nacionalidad" class="form-control" />
            @*@Html.EditorFor(model => model.Persona.Nacionalidad, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Persona.Nacionalidad, "", new { @class = "text-danger" })*@
        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Militancia </label>@*@Html.LabelFor(model => model.Persona.Militancia, "Militancia", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Persona_Militancia" class="form-control" />
            @*@Html.EditorFor(model => model.Persona.Militancia, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Persona.Militancia, "", new { @class = "text-danger" })*@
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2"> Teléfono Padre </label>
        @*@Html.LabelFor(model => model.Salario, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Telefono_Padre" class="form-control" />
            @*@Html.EditorFor(model => model.Salario, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Telefono_Padre, "", new { @class = "text-danger" })*@
        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Nombre Padre </label>
        @*@Html.LabelFor(model => model.Ocupacion, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Nombre_Padre" class="form-control" />
            @*@Html.EditorFor(model => model.Ocupacion, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Nombre_Padre, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> Teléfono Madre </label>
        @*@Html.LabelFor(model => model.Salario, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Telefono_Madre" class="form-control" />
            @*@Html.EditorFor(model => model.Salario, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Telefono_Madre, "", new { @class = "text-danger" })*@
        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Nombre Padre </label>
        @*@Html.LabelFor(model => model.Ocupacion, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Nombre_Madre" class="form-control" />
            @*@Html.EditorFor(model => model.Ocupacion, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Nombre_Madre, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> Categoría </label>
        @*@Html.LabelFor(model => model.Salario, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="text" id="Alumno_Categoria" class="form-control" />
            @*@Html.EditorFor(model => model.Salario, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })*@
        </div>
        <label class="control-label col-md-2 col-md-offset-2"> Foto </label>
        @*@Html.LabelFor(model => model.Ocupacion, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-3">
            <input type="file" id="Categoria" class="form-control" />
            @*@Html.EditorFor(model => model.Ocupacion, new { htmlAttributes = new { @class = "form-control" } })*@
           @* @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> Dirección </label>
        @*@Html.LabelFor(model => model.Persona.Direccion, "Direccion", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            <textarea type="text" id="Persona_Direccion" class="form-control" rows="3"></textarea>
            @*@Html.EditorFor(model => model.Persona.Direccion, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.Persona.Direccion, "", new { @class = "text-danger" })*@
        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("<<Atrás", "Index")
    </div>
    <div class="col-md-6">
        <input type="button" id="btnCrear" class="right btn btn-info" value="Crear" />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/res/jsTrabajador.js"></script>

}
