@model MonedaCubana.Models.Alumno

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grupo.Sesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.Sesion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Militancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Militancia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Padre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Padre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Madre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Madre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Padre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Padre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Madre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Madre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CI_Alumno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
