<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
   
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Logo</h3>
                <strong>MC</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active ">
                    <a href="#personalSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i>
                        Personal
                    </a>
                    <ul class="collapse list-unstyled" id="personalSubmenu">
                        <li><a href="~/Profesor/">Facilitadores</a></li>
                        <li><a href="~/Alumno">Alumnos</a></li>
                        <li><a href="~/Trabajador">Grupo Gestores</a></li>
                    </ul>
                </li>
                <li>
                   
                    <a href="#gestionSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-education"></i>
                        Gestion Curso
                    </a>
                    <ul class="collapse list-unstyled" id="gestionSubmenu">
                        <li><a href="#">Curso</a></li>
                        <li><a href="~/Taller">Talleres</a></li>
                        <li><a href="#">Grupos</a></li>
                        <li><a href="#">Preparatorias</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#secretariaSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-book"></i>
                        Secretaria Docente
                    </a>
                    <ul class="collapse list-unstyled" id="secretariaSubmenu">
                        <li><a href="#">Alumno-Grupo</a></li>
                        <li><a href="#">Facilitador-Grupo</a></li>
                        <li><a href="~/ProfesorAsignatura">Facilitador-Taller</a></li>
                        <li><a href="#">Alumno-Taller</a></li>
                        <li><a href="#">Curso-Grupo</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-paperclip"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-send"></i>
                        Contact
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Descargar</a></li>
                <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Ir a Artículos</a></li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content" style="width:81%">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Minimizar Menu</span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><p style="padding: 5px; font-size: x-large;  font-style: italic; font-family: -webkit-pictograph; font-weight: bold; color: dodgerblue;">La Moneda Cubana</p></li>
                        </ul>
                    </div>
                </div>
            </nav>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $('#content').toggleClass('full-witdh');
                });
            });
        </script>
</body>
</html>
